@import "tailwindcss";

:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  background-color: #09090b; /* zinc-950 */
  color: white;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.page-transition {
  transition: all 0.5s ease-in-out;
}
